<h1><u>Two-Way Data Binding</u></h1>
<input type="text" #name placeholder="enter your name">
<input type="text" #course placeholder="enter course">
<input type="text" #fee placeholder="enter fee"> 

<!-- <button mat-button color="primary"> My Name</button>
<button mat-flat-button color="primary"> My Name</button> -->
<br>
<button mat-raised-button color="primary" (click)="onClick(name.value)"> My Name</button>
<button mat-raised-button color="primary" (click)="onClick1(course.value)"> My Course</button>
<button mat-raised-button color="primary" (click)="onClick2(fee.value)"> My Fee</button>
<br>
<h2>{{"My name:"+ myName }}</h2>
<h2>{{"My course:"+ myCourse }}</h2>
<h2>{{"My fee:"+ myFee }}</h2>

<hr>

<input type="text" [(ngModel)]="myText">    
<h2>{{'My Entered Text: '+myText}}</h2>